.films_container{
    overflow: scroll;
    display: flex;
    gap: 10px;
    width: 90vw;
    margin: 50px auto;
    // border: 1px solid var(--secondary-color);
    box-shadow: -2px -13px 25px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
    div{
        img{
            // width;
            border-radius: 15px;
        }
    }
}